*
{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
      /* font-family: "Lora", serif; */
    /* font-family: "Rancho", cursive; */
    font-family: "Alice", serif;
}
html, body{
  height: 100%;
  width: 100%;
}
.bg-dark-black {
  background-color: black;
}
.bg-light-black{
  background-color: #101010;

}
.main-container {
  /* height: 100vh; */
  /* background-color: black; */
  isolation: isolate;
  position: relative;
}
.main-container::before{
  content: "";
  bottom: 0;
  position: absolute;
  height: 35vh;
  width: 100%;
  z-index: -1;
  background-color: black ;
  filter: blur(10px);
}

.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  filter: blur(100px);
  height: 30vh;
  width: 30vh;
  z-index: -2;
}
.container{
  max-width: 1300px;
  margin: auto;
  /* min-height: 100vh; */
  padding: 0 2rem;
  /* background-color: green; */
}
.navbar{
  height: 14vh;
  /* background-color: red; */
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo{
  color: white;
  font-size: 3rem;
}
.nav-list{
  display: flex;
  gap:3rem;
 
}
.nav-links{
  font-size: 1.6rem;
  color: white;
 
}
.hamburger{
  display: none;
}
.lines{
  height: 0.3rem;
  width: 2.5rem;
  margin: 7px;
  background-color: aliceblue;
}
li {
  list-style: none;
}
a{
text-decoration: none;
}
.hero-section{
  height: calc(100vh - 14vh);
  display: flex;
  
}
.left-container {
  /* background-color: aqua; */
  align-self: center;
  flex: 1;
}
.left-container h1{
  font-size: 4.1rem;
  color: white;
  
}
.middle-container{
  /* background-color: #ef0909; */
  
}
.middle-container img{
  height: 82vh;
  padding-top: 2rem;
  /* display: inline-block; */
  margin: auto;
  /* background-color: red; */
}
.right-container{
  /* background-color: blueviolet; */
  align-self: end;
  margin-bottom: 8rem;
  flex: 1;
}
.right-container p{
  font-size: 1.3rem;
  color: white;
  text-align: end;
  padding-right: 2rem ;
}
[data-type="border-para"]{
  border-right: .5rem solid white;
  text-align: end;
  padding-right: 2rem ;
}

.scroll-box {
  width: 300px;
  height: 150px;
  overflow-y: scroll; /* vertical scroll bar */
  padding: 10px;
}

.scroll-box::-webkit-scrollbar {
  width: 10px; /* scroll bar width */
}

/* scroll track (background) */
.scroll-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

/* scroll thumb (move krn wali part) */
.scroll-box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

/* hover effect on scroll thumb */
.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll {
  background-color: black;
  overflow: hidden;
}

.content {
  display: flex;
  white-space: nowrap;
}

.inner {
  display: flex;
  animation: scroll 15s linear infinite alternate;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.content h1 {
  padding: 1rem;
  font-size: 3rem;
  color: white;
  font-family: "Allura", cursive;
}

.scroll .content .break {
  padding: 1rem;
  margin: 1.7rem;
  height: 2rem;
  width: 2rem;
  background-color: #e2f2b0;
  border-radius: 50%;
}
.inner:hover {
  color: red;
  /* animation-play-state: paused; */
}

header {
  height: 100vh;
  background-color: #be0909;
}


/* .our little story  */
.scroll1{
  background-color: #101010;
}
.our-story{
  /* background-color: red; */
  width: 100%;
  max-width: 600px;
  margin: 3rem;
}
.our-story h1 {
  padding: 5rem 0 1rem 1rem;
  color: #e2f2b0;
  font-size: 4.5rem;
  font-family: "Allura", cursive;
}
.our-story p {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 1.8rem;
}
.our-story a{
  display: inline-block;
  padding: 0.5rem 1rem ;
  color: black;
  background-color: #e2f2b0;
  border: 2px solid beige;
  font-size: 1.2rem;
  font-weight: 700;
}
.our-story a:hover{
  background-color: #efc3c5;
}
.section1{
  display: flex;
  justify-content: space-around;
  /* align-self: center; */
}
.section1 img{
  /* padding: 5rem; */
  margin: 5rem 2rem ;
}


/* selling products  */

.main-padding{
  padding: 5rem;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
  text-align: center;
}
.column h1{
  /* padding: 4rem 0 1rem 1rem; */
  color: #e2f2b0;
  font-size: 4.5rem;
  font-family: "Allura", cursive;
}
.grid-card{
  background-color: black;
  display: grid;
  width: 100%;
  height: 90%;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  background-color: #101010;
  padding-top: 1.5rem;
  border: 2px solid rgb(51, 51, 51);
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  background-color: rgb(51, 51, 51);
  transform: scale(1.05);

}
.card-product{
  /* background-color: aqua; */
}
.card-product img{
  height: 20rem;
  /* background-color: red; */
}
.card-info h4{
  color: white;
  font-size: 1.5rem;
  margin: 0.3rem 0;
}
.price{
  color: white;
  font-size: 1.5rem;
}
.card-info a{
  display: inline-block;
  margin: 1rem 0 2rem 0;
  padding: 0.5rem 1rem ;
  color: black;
  background-color: #e2f2b0;
  border: 2px solid beige;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
}
.card-info a:hover{
  background-color: #efc3c5;
}