*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rancho", cursive;
    /* font-family: "Alice", serif; */
}
html, body{
  height: 100%;
  width: 100%;
}
.main-container {
  height: 100vh;
  background-color: black;
  
}
.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  filter: blur(100px);
  height: 30vh;
  width: 30vh;
  z-index: 1;
}
.container{
  max-width: 1300px;
  margin: auto;
  height: 100vh;
  /* background-color: green; */
}
.navbar{
  height: 14vh;
  /* background-color: red; */
}
.hero-section{
  height: calc(100vh - 14vh);
  display: flex;
  /* background-color: yellow; */
  /* max-width: 1300px; */
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo{
  color: white;
  font-size: 3rem;
}
.nav-list{
  display: flex;
  gap:4rem;
 
}
.nav-links{
  font-size: 2.3rem;
  color: white;
 
}
.hamburger{
  display: none;
}
.lines{
  height: 0.3rem;
  width: 2.5rem;
  margin: 7px;
  background-color: aliceblue;
}
li {
  list-style: none;
}
a{
text-decoration: none;
}
.left-container {
  /* background-color: aqua; */
  flex: 1;
}
.middle-container{
  /* background-color: #ef0909; */
  
}
.middle-container img{
  height: 90vh;
  display: inline-block;
  margin: auto;
  z-index: 999999;
}
.right-container{
  /* background-color: blueviolet; */
  flex: 1;
}



header {
  height: 100vh;
  background-color: #545454;
}